<div class="block-group-medias">
  {% content_for 'blocks' %}
</div>
{% schema %}

{
  "name": "t:blocks.media.name",
  "tag": null,
  "blocks": [{ "type": "block-media" }],
  "presets": [{ "name": "t:blocks.media.name" }]
}
{% endschema %}
