
{%- render 'card-category', 
    _page: pages[block.settings.page],
    image: block.settings.image,
    seperate_content: block.settings.seperate_content,
    card_title: block.settings.card_title,
    description: block.settings.description,
    button_label: block.settings.button_label
-%}

{% schema %}
{
  "name": "t:blocks.page.name",
  "tag": null,
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:blocks.page.settings.page.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:blocks.page.settings.image.label"
    },
    {
      "type": "checkbox",
      "id": "seperate_content",
      "label": "Show container",
      "default": false
    },
    {
      "type": "text",
      "id": "card_title",
      "label": "t:blocks.page.settings.card_title.label",
      "info": "t:blocks.page.settings.card_title.info"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:blocks.page.settings.description.label",
      "default": "<p>description</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:blocks.page.settings.button_label.label",
      "info": "t:blocks.page.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "t:blocks.page.settings.button_url.label"
    }
  ],
  "presets": [{ "name": "t:blocks.page.name" }]
}
{% endschema %}