<div class="block-text-grid-block" {{ block.shopify_attributes }}>
  <div class="block-statics-grid">
    {% content_for 'block',  type: 'group-statistics', id: 'static-group-statistics' %}
    </div>
        {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "t:blocks.text_grid_block.name",
  "tag": null,
  "settings":[
  ],
  "blocks": [
    { "type": "icon" },
    { "type": "title" },
    { "type": "text-light" },
    { "type": "anchor" },
    { "type": "statistic" }
    
  ],
  "presets": [
    {
      "name": "t:blocks.text_grid_block.name"
    }
  ]
}
{% endschema %}