<p class="title" id="shopify-block-{{- block.id -}}">{{- block.settings.title -}}</p>

{%- if block.settings.margin_bottom > 0 -%}
  <style>
    #shopify-block-{{- block.id -}} {
      margin-bottom: {{ block.settings.margin_bottom | divided_by: 16.0 | round: 3 -}}rem;
      }
  </style>
{%- endif -%}

{% schema %}
{
  "name": "t:blocks.title.name",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.all.title.label"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 40,
      "step": 1,
      "default": 16,
      "label": "t:sections.all.margin_bottom.label"
    }
  ],
  "presets": [{ "name": "t:blocks.title.name" }]
}
{% endschema %}
