<!doctype html>
  <html class="no-js" lang="{{ request.locale.iso_code }}">
    <head>
      {% liquid
        render 'theme-meta'
        render 'theme-microdata'
        render 'theme-favicon'
        render 'theme-hreflang'
        render 'theme-scripts'
        render 'theme-tracking'
        render 'theme-css'

        assign is_production = true
        assign theme_name = theme.name | downcase

        unless theme_name contains 'main'
          assign is_production = false
        endunless

        capture shopify_header_content
          echo content_for_header
        endcapture

        if is_production == false
          echo shopify_header_content | remove: 'previewBarInjector.init();'
        else
          echo shopify_header_content
        endif
      %}
    </head>
    <body id="wrapper" class="page-type-{{ request.page_type }} template-{{ template.name | handle }}">
      <main class="site-main" role="main">
        {{ content_for_layout }}
      </main>
      {%- render 'theme-preview-link', _is_production: is_production -%}
      <div class="snippet-overlay" data-theme-overlay></div>
      {%- render 'theme-footer-scripts' -%}
    </body>
  </html>
