.block-group-content.add-margin {
  margin-bottom: 2rem;
}
.block-group-content.horizontal-layout {
    grid-column: 1;
    grid-row: 1;
}
.block-group-content.horizontal-layout:nth-of-type(2) {
  grid-row: 2;
}