.block-statistic {
  border-radius: var(--border-radius-xl);
  padding: 1rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translateZ(0);
  flex-shrink: 0;
  transition-property: transform;
}
.block-statistic .title {
  font-family: var(--font-family-base);
  line-height: 1;
}

.statistics-bar .title {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-style: Light;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

}
.block-statistic p {
  margin: 0;
}
.group-statistics-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}


.group-statistics-grid .block-statistic {
  flex-shrink: unset;
}
@media (min-width: 1024px) {
  .block-statistic {
    padding: 1re, 2.5rem 2.5rem;
  }

  .block-group-statistics {
    margin-bottom: 24px;
  }
}

@media (max-width: 749px) {
  .group-statistics-grid {
    display: grid;
    gap: 1rem;
    padding-bottom: 2rem;
  }

  .grid--2-col-table-down {
    grid-template-columns: repeat(2, 1fr);
  }

  .group-statistics-grid .block-statistic{
    width: 100%;
    max-width: 100%;
    padding: 12px;
  }

  .block-statistic p {
    font-size: 0.875rem;
  }
}