.section-featured-testimonials {
  display: block;
  padding: 3rem 0;
}
.section-featured-testimonials .wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.section-featured-testimonials .wrapper hr {
  border-color: var(--colour-gallery);
}
.section-featured-testimonials .wrapper .section-header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  margin-inline: inherit;
}
.section-featured-testimonials .wrapper .section-header * {
  margin: 0;
}
.section-featured-testimonials .wrapper [data-ft-swiper] {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  width: calc(100vw - ((100vw - var(--container-max-width)) / 2));
}
.section-featured-testimonials .wrapper [data-ft-swiper] .swiper-slide {
  display: grid;
  grid-template-columns: 100%;
  gap: 2.5rem;
}

.section-featured-testimonials .block-text-light {
  max-width: 32rem;
}

.section-featured-testimonials .wrapper [data-ft-swiper].js-stack-slides .swiper-slide {
  height: auto;
  grid-template-rows: auto 1fr;
}
.section-featured-testimonials .wrapper [data-ft-swiper].js-stack-slides .swiper-slide .product {
  margin-top: auto;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .swiper-navigation {
  justify-content: flex-end;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .swiper-navigation .swiper-pagination-lock,
.section-featured-testimonials .wrapper [data-ft-swiper] .swiper-navigation .swiper-button-lock {
  display: none;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .swiper-pagination-fraction {
  position: relative;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: fit-content;
  font-weight: 600;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .slide-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .slide-content .name {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}
.section-featured-testimonials .wrapper .testimonial-content blockquote {
    min-height: 6rem;
  }
.section-featured-testimonials .wrapper [data-ft-swiper] .slide-content blockquote p:last-of-type {
  margin: 0;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .slide-content blockquote p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;
  color: #343436;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .slide-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 100%;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .slide-content ul .c-lozenge {
  background-color: #A06864;
  text-transform: uppercase;
}
.section-featured-testimonials .wrapper [data-ft-swiper]  .c-lozenge.we-peep, 
.section-featured-testimonials .wrapper [data-ft-swiper] .c-lozenges .c-lozenge.we-peep {
  border: unset;
  color: var(--colour-white);
}
.section-featured-testimonials .wrapper [data-ft-swiper] .c-lozenge,
.section-featured-testimonials .wrapper [data-ft-swiper] .c-lozenges .c-lozenge {
  font-size: 14px;  
}
.section-featured-testimonials .wrapper [data-ft-swiper] .c-lozenge.xl,
.section-featured-testimonials .wrapper [data-ft-swiper] .c-lozenges .c-lozenge.xl {
  padding: 6px 10px;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .slide-content .product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .slide-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  height: 100%;
  overflow: hidden;
  aspect-ratio: 5/4;
  gap: 6px;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .slide-images > div {
  position: relative;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .slide-images > div span {
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
  color:#A06864;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .slide-images .before span {
  top: 6px;
  left: 40px;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .slide-images .after span {
  top: 6px;
  left: 48px;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .slide-images > div img {
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.section-featured-testimonials .wrapper [data-ft-slider-thumbnails] {
  display: none;
}
.section-featured-testimonials .wrapper [data-ft-slider-thumbnails] .swiper-slide {
  width: -webkit-fit-content;
  width: fit-content;
  cursor: pointer;
  opacity: 0.5;
  transition: all var(--transition-duration) var(--transition-timing) 0s;
}
.section-featured-testimonials .wrapper [data-ft-slider-thumbnails] .swiper-slide img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}
.section-featured-testimonials .wrapper [data-ft-slider-thumbnails] .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}
.section-featured-testimonials .wrapper .swiper-containers {
  position: relative;
  width: 100%;
}
.section-featured-testimonials .wrapper .swiper-containers [data-ft-slider-thumbnails] {
  position: absolute;
  z-index: 3;
  max-width: 32rem;
}
.section-featured-testimonials .statistics {
  margin-top: 2.25rem;
  padding: 1rem 0;
  border-width: 1px 0 1px;
  border-style: solid;
  border-color: var(--colour-pampas);
}
.section-featured-testimonials .statistics .swiper-slide > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}
.section-featured-testimonials .statistics .swiper-slide > div .highlight {
  font-weight: 500;
  margin: 0;
  line-height: 1;
}
.section-featured-testimonials .statistics .swiper-slide > div > p {
  font-size: 1.5rem;
  font-weight: 400;
}
.section-featured-testimonials .statistics .swiper-slide > div p:last-of-type {
  margin: 0;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .swiper-controls {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 40px;
  max-width: var(--container-max-width);
}
.section-featured-testimonials .wrapper [data-ft-swiper] .swiper-pagination {
  position: relative;
  flex: 1;
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  background: var(--colour-white);
}
.section-featured-testimonials .wrapper [data-ft-swiper] .swiper-pagination-progressbar-fill {
  background: var(--colour-black);
    border-radius: 2px;
    height: 100%;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .swiper-navigation {
  display: flex;
  gap: 12px;
  flex-shrink: 0;
  justify-content: flex-end;
}
.section-featured-testimonials .wrapper [data-ft-swiper] .swiper-button-prev,
.section-featured-testimonials .wrapper [data-ft-swiper] .swiper-button-next {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--colour-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s ease;
}
@media (min-width: 768px) {  
  .section-featured-testimonials .wrapper [data-ft-swiper] .slide-images {
    aspect-ratio: 1;
  }
}
@media (min-width: 768px) and (max-width: 1279.98px) {
  .section-featured-testimonials .wrapper [data-ft-swiper] .slide-content {
    max-width: var(--tablet-max-width);
    margin: 0 auto;
  }
  .section-featured-testimonials .statistics {
    max-width: var(--tablet-max-width);
    margin-inline: auto;
  }
}
@media (min-width: 1024px) and (max-width: 1279.98px) {
  .section-featured-testimonials > .container {
    max-width: 84vw;
  }
}
@media (min-width: 1280px) {
  .section-featured-testimonials .wrapper [data-ft-swiper] .swiper-slide {
    grid-template-columns: 32rem 1fr;
    gap: 4rem;
  }
  .section-featured-testimonials .wrapper [data-ft-swiper] .swiper-pagination-fraction {
    margin-right: unset;
    margin-left: auto;
    padding-right: 1.5rem;
  }
  .section-featured-testimonials .wrapper [data-ft-swiper] .slide-content {
    padding: 9rem 0 5rem;
  }
  .section-featured-testimonials .wrapper [data-ft-swiper] .slide-images {
    aspect-ratio: 4/3;
  }
  .section-featured-testimonials .wrapper [data-ft-slider-thumbnails] {
    display: block;
  }
  .section-featured-testimonials .statistics .swiper-slide > div {
    flex-direction: row;
    align-items: baseline;
  }
}
@media(max-width: 1440px) {
  .section-featured-testimonials .wrapper [data-ft-swiper] .swiper-controls {
    max-width: var(--tablet-max-width);
  }

}
@media (max-width: 1279.98px) {
  .section-featured-testimonials .wrapper [data-ft-swiper] .slide-content ul .c-lozenge {
    padding: 0.5rem;
  }
  .section-featured-testimonials .wrapper [data-ft-swiper] .slide-images {
    grid-row: 1;
  }
}
@media(max-width: 768px) {
  .section-featured-testimonials .wrapper .testimonial-content blockquote {
    min-height: unset;
  }
  .section-featured-testimonials .wrapper [data-ft-swiper] {
    width: 100%;
  }

  .section-featured-testimonials .wrapper [data-ft-swiper] .swiper-controls {
    width: 100%;
    max-width: 100%;
    align-items: end;
    justify-content: end;
  }

  .section-featured-testimonials .wrapper [data-ft-swiper] .swiper-pagination {
    display: none;
  }
}