.section-statistics .block-group-content {
  margin-bottom: 2rem;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-statistics .block-group-content {
    max-width: var(--tablet-max-width);
    margin-inline: auto;
  }
}