.section-page-hero .container {
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
}
.section-page-hero .container .section-media {
  position: relative;
  border-radius: var(--border-radius-xl);
  overflow: hidden;
  display: grid;
}
.section-page-hero .container .section-media .block-media {
  display: grid;
  position: relative;
  z-index: 1;
}
.section-page-hero .container .section-media .block-badge {
  position: absolute;
  bottom: 2rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--colour-white);
  font-size: 1.25rem;
  font-family: var(--font-family-serif);
  line-height: 1.5;
}
.section-page-hero .container .section-media .block-badge img {
  height: 2rem;
  width: auto;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-page-hero .container {
    max-width: var(--tablet-max-width);
  }
}
@media (min-width: 1024px) {
  .section-page-hero .container {
    grid-template-columns: 1fr 56%;
    gap: 3rem;
    align-items: center;
  }
  .section-page-hero .container .block-group-content {
    padding: 3rem 0;
  }
  .section-page-hero .container .section-media .block-media * {
    height: 100%;
    object-fit: cover;
  }
  .section-page-hero .container .section-media .block-badge {
    right: 2rem;
    align-items: flex-end;
  }
}
@media (min-width: 1280px) {
  .section-page-hero .container {
    gap: 6.5rem;
  }
}
@media (max-width: 1023.98px) {
  .section-page-hero .container .section-media {
    grid-row: 1;
  }
  .section-page-hero .container .section-media .block-badge {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}