.section-before-after-testimonial {
  display: block;
  background-color: var(--colour-white);
  padding: 3rem 0;
}
.section-before-after-testimonial .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.section-before-after-testimonial .wrapper hr {
  border-color: var(--colour-gallery);
}
.section-before-after-testimonial .wrapper .section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.section-before-after-testimonial .wrapper .section-header h2 {
  text-align: center;
  margin-bottom: 0;
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 0;
}
.section-before-after-testimonial .wrapper .section-header h2 p {
  margin-bottom: 0;
  line-height: 3.5rem;
}
.section-before-after-testimonial .wrapper .section-header h2 strong {
  font-family: var(--font-family-serif);
  font-weight: 600;
  font-style: italic;
}
.section-before-after-testimonial .wrapper .section-header span {
  line-height: 1.25rem;
  max-width: 600px;
  text-align: center;
}
.section-before-after-testimonial .wrapper .swiper {
  width: 100%;
}
.section-before-after-testimonial .wrapper [data-bat-swiper] {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  height: auto;
}
.section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .testimonial-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .testimonial-content .quote-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .testimonial-content .quote-wrapper blockquote {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--colour-tuna);
}
.section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .testimonial-content .quote-wrapper .quote-wrapper {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}
.section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .testimonial-content ul {
  list-style: none;
  padding: 0.5rem 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .testimonial-content ul li {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
}
.section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .testimonial-content ul li svg, .section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .testimonial-content ul li img {
  height: 1rem;
  width: 1rem;
  fill: currentColor;
}
.section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .before-and-after-image-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  height: 100%;
}
.section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .before-and-after-image-wrapper .before-after-wrapper {
  position: relative;
}
.section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .before-and-after-image-wrapper .before-after-wrapper.before img {
  border-radius: 1rem 0 0 1rem;
}
.section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .before-and-after-image-wrapper .before-after-wrapper.after img {
  border-radius: 0 1rem 1rem 0;
}
.section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .before-and-after-image-wrapper .before-after-wrapper span {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  z-index: 1;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--colour-black);
  background-color: var(--colour-white);
  border-radius: 0.5rem;
  font-weight: 600;
  white-space: nowrap;
}
.section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .before-and-after-image-wrapper .before-after-wrapper img {
  height: 100%;
  min-height: 14rem;
}
.section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-pagination-fraction {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
  width: -webkit-fit-content;
  width: fit-content;
  font-weight: 600;
}
.section-before-after-testimonial .wrapper [data-bat-slider-thumbnails] {
  display: none;
}
.section-before-after-testimonial .wrapper [data-bat-slider-thumbnails] .swiper-slide {
  width: -webkit-fit-content;
  width: fit-content;
  cursor: pointer;
  opacity: 0.5;
  transition: all var(--transition-duration) var(--transition-timing) 0s;
}
.section-before-after-testimonial .wrapper [data-bat-slider-thumbnails] .swiper-slide img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}
.section-before-after-testimonial .wrapper [data-bat-slider-thumbnails] .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}
.section-before-after-testimonial .wrapper .swiper-containers {
  position: relative;
  width: 100%;
}
.section-before-after-testimonial .wrapper .swiper-containers [data-bat-slider-thumbnails] {
  position: absolute;
  z-index: 3;
  max-width: 32rem;
}
@media (min-width: 768px) {
  .section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide {
    display: grid;
    grid-template-columns: 32rem 1fr;
    gap: 4rem;
  }
  .section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .testimonial-content {
    padding: 9rem 0 5rem;
  }
  .section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-pagination-fraction {
    margin-right: unset;
    margin-left: auto;
    padding-right: 1.5rem;
  }
  .section-before-after-testimonial .wrapper [data-bat-slider-thumbnails] {
    display: block;
  }
}
@media (max-width: 1023.98px) {
  .section-before-after-testimonial .wrapper [data-bat-swiper] .swiper-slide .before-and-after-image-wrapper .before-after-wrapper img {
    object-fit: cover;
    aspect-ratio: 1/1;
  }
}