.section-promotion .wrapper {
  position: relative;
  padding: 1.5rem 1rem;
  border-radius: var(--border-radius-xl);
  overflow: hidden;
  min-height: 32rem;
  color: var(--p-colour, var(--colour-tuna));
}
.section-promotion .wrapper .block-media {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.section-promotion .wrapper .block-media * {
  height: 100%;
  width: 100%;
}
.section-promotion .wrapper .block-media *:is(img, video) {
  object-fit: cover;
}
.section-promotion .block-group-content {
  position: relative;
  z-index: 10;
  max-width: 32rem;
}
.section-promotion .block-group-content svg {
  fill: currentColor;
}
@media (min-width: 768px) {
  .section-promotion .wrapper {
    padding: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-promotion .container {
    max-width: var(--tablet-max-width);
  }
  .section-promotion .wrapper {
    min-height: 40rem;
  }
}
@media (min-width: 1280px) {
  .section-promotion .wrapper {
    padding: 2.5rem;
  }
}