.section-product-comparison .wrapper {
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
  padding: 2rem 0;
  overflow-x: auto;
}
.section-product-comparison .product-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 7.5rem;
  gap: 0.25rem;
}
.section-product-comparison .btns {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 7.5rem;
  gap: 0.25rem;
}
.section-product-comparison .btns a {
  padding: 0.75rem 1.5rem;
}
.section-product-comparison .table-grid {
  display: grid;
  grid-auto-flow: row;
  gap: 0.25rem;
}
.section-product-comparison .group {
  display: grid;
  grid-auto-flow: row;
  gap: 0.25rem;
}
.section-product-comparison .group .value-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 7.5rem;
  gap: 0.25rem;
}
.section-product-comparison .group .value-grid div {
  background-color: var(--colour-gallery);
  border-radius: var(--border-radius-xs);
  min-height: 5rem;
  display: grid;
  place-content: center;
  font-size: 0.813rem;
  text-align: center;
  padding: 1rem 1.5rem;
}
.section-product-comparison .group .value-grid div svg {
  height: 1rem;
  width: 1rem;
}
.section-product-comparison .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.section-product-comparison .product img,
.section-product-comparison .product svg {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: var(--border-radius-sm);
}
.section-product-comparison .product a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .section-product-comparison .wrapper {
    background-color: var(--colour-white);
    border-radius: var(--border-radius-xl);
    padding: 2rem;
  }
  .section-product-comparison .product-grid {
    padding-left: calc(14rem + 0.25rem);
    grid-auto-columns: 11.25rem;
  }
  .section-product-comparison .btns {
    padding-left: calc(14rem + 0.25rem);
    grid-auto-columns: 11.25rem;
  }
  .section-product-comparison .group {
    display: flex;
    align-items: center;
  }
  .section-product-comparison .group .field-title {
    width: 14rem;
    font-size: 1.25rem;
    padding-right: 1.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--colour-white);
    position: sticky;
    left: 0;
  }
  .section-product-comparison .group .value-grid {
    grid-auto-columns: 11.25rem;
  }
  .section-product-comparison .group .value-grid div {
    min-height: 7rem;
    height: 100%;
    font-size: 1rem;
  }
  .section-product-comparison .group .value-grid div svg {
    height: 1.25rem;
    width: 1.25rem;
  }
  .section-product-comparison .product img,
.section-product-comparison .product svg {
    height: 6.5rem;
    width: 6.5rem;
  }
}
@media (min-width: 1280px) {
  .section-product-comparison .wrapper {
    padding: 2.5rem;
  }
}
@media (max-width: 1023.98px) {
  .section-product-comparison .container.for-grid {
    background-color: var(--colour-white);
  }
  .section-product-comparison .group {
    grid-auto-columns: 7.5rem;
  }
  .section-product-comparison .group .field-title {
    grid-column: var(--pc-field-column-span);
    text-align: center;
    background-color: var(--colour-we-peep);
    padding: 0.375rem 1rem;
    font-size: 0.75rem;
    line-height: normal;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: var(--border-radius-xs);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100vw - 2rem);
  }
  .section-product-comparison .product a {
    font-size: 0.813rem;
  }
}