.section-reviews .container {
  display: grid;
  grid-template-columns: 100%;
  gap: 2.5rem;
}
.section-reviews .block-media {
  border-radius: var(--border-radius-lg);
  overflow: hidden;
}
.section-reviews .reviews-logo * {
  height: 1.275rem;
  width: auto;
  object-fit: contain;
}
.section-reviews .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-reviews .content .block-heading {
  margin: 0 0 1rem;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .section-reviews .container {
    max-width: var(--tablet-max-width);
  }
}
@media (min-width: 1024px) {
  .section-reviews .container {
    grid-template-columns: 40% 1fr;
    gap: 3rem;
    align-items: center;
  }
  .section-reviews .block-media {
    height: 100%;
  }
  .section-reviews .block-media > * {
    height: 100%;
    object-fit: cover;
  }
  .section-reviews .content {
    padding: 2.5rem 0;
  }
}
@media (min-width: 1280px) {
  .section-reviews .container {
    grid-template-columns: 33% 1fr;
    gap: 8.5rem;
  }
}
@media (max-width: 1023.98px) {
  .section-reviews .block-media {
    grid-row: 1;
  }
}
@media (max-width: 767.98px) {
  .section-reviews .swiper {
    overflow: visible;
  }
}