.section-trust-points {
  display: block;
  margin-bottom: 1.5rem;
}
.section-trust-points .wrapper {
  background-color: var(--colour-white-glass);
  padding: 1.125rem 0;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
}
.section-trust-points .block-text-and-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.813rem;
  font-weight: 400;
  padding: 0 1rem;
  white-space: nowrap;
}
.section-trust-points .block-text-and-icon img {
  height: 1.25rem;
  width: 1.25rem;
  object-fit: contain;
}
.section-trust-points:has(.swiper) .swiper {
  overflow: visible;
}
.section-trust-points:has(.swiper) .block-text-and-icon {
  display: flex;
  transform: translateZ(0);
  flex-shrink: 0;
  transition-property: transform;
  justify-content: center;
}
@media (min-width: 1280px) {
  .section-trust-points {
    margin-bottom: 2.5rem;
  }
  .section-trust-points .wrapper {
    border-radius: var(--border-radius-xl);
  }
}