.section-main-comms {
  background-color: var(--colour-tuna);
  color: var(--colour-pampas);
  padding: 0.5rem 0;
}
.section-main-comms .container {
  display: flex;
  justify-content: center;
}
.section-main-comms .block-text-light {
  max-width: 100%;
}
.section-main-comms p {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
}
.section-main-comms:has(.swiper) .block-text-light {
  display: flex;
  transform: translateZ(0);
  flex-shrink: 0;
  pointer-events: none;
  transition-property: opacity;
  opacity: 0 !important;
  width: 100% !important;
  justify-content: center;
}
.section-main-comms:has(.swiper) .block-text-light.swiper-slide-active {
  opacity: 1 !important;
}