.section-video-testimonial {
  display: block;
  background-color: var(--colour-white);
  padding: 3rem 0;
}
.section-video-testimonial .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.section-video-testimonial .wrapper h2 {
  margin-bottom: 0;
}
.section-video-testimonial .wrapper h2 p {
  margin-bottom: 0;
  line-height: 3.5rem;
}
.section-video-testimonial .wrapper h2 strong {
  font-family: var(--font-family-serif);
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
}
.section-video-testimonial .wrapper .testimonial-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-video {
  position: relative;
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-video video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--border-radius-xl);
  aspect-ratio: 5/4;
  display: block;
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-video .play-button-wrapper {
  position: absolute;
  inset: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  color: var(--colour-white);
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-video .play-button-wrapper span {
  margin: 0;
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-video .play-button-wrapper svg {
  width: 2.5rem;
  height: 2.5rem;
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-video.paused .play-button-wrapper {
  display: flex;
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-video.paused:after {
  content: "";
  position: absolute;
  border-radius: var(--border-radius-xl);
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-video .reeview-app-widget {
  border-radius: var(--border-radius-xl);
  overflow: hidden;
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-content svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--colour-tuna);
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-content .quote-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-content .quote-wrapper blockquote {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--colour-tuna);
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-content .quote-wrapper .quote-wrapper {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-content ul {
  list-style: none;
  padding: 0.5rem 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-content ul li {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-content ul li svg,
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-content ul li img {
  height: 1rem;
  width: 1rem;
  fill: currentColor;
}
.section-video-testimonial .wrapper .testimonial-wrapper .testimonial-content .disclaimer {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .section-video-testimonial {
    padding: 4rem 0;
  }
  .section-video-testimonial .wrapper {
    gap: 4rem;
  }
  .section-video-testimonial .wrapper .testimonial-wrapper {
    display: grid;
    grid-template-columns: 1fr 56%;
    gap: 2.5rem;
  }
  .section-video-testimonial .wrapper .testimonial-wrapper .testimonial-video {
    order: 2;
  }
  .section-video-testimonial .wrapper .testimonial-wrapper .testimonial-content {
    order: 1;
    padding: 4rem 0;
  }
}
@media (min-width: 1024px) {
  .section-video-testimonial .wrapper .testimonial-wrapper .testimonial-video video {
    aspect-ratio: 4/3;
  }
}
@media (min-width: 1280px) {
  .section-video-testimonial .wrapper {
    padding: 0 3.5rem;
  }
  .section-video-testimonial .wrapper .testimonial-wrapper {
    gap: 5rem;
  }
}