.section-main-product-gift-card {
  padding: 5rem 0;
}
.section-main-product-gift-card .container {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-main-product-gift-card .container > * {
  background-color: var(--colour-white);
  border-radius: var(--border-radius-lg);
  padding: 1rem;
}
.section-main-product-gift-card .wrapper {
  background-color: var(--colour-white);
  border-radius: var(--border-radius-lg);
}
.section-main-product-gift-card header {
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.section-main-product-gift-card header,
.section-main-product-gift-card header .heading {
  display: flex;
  flex-direction: column;
}
.section-main-product-gift-card header *:not(small) {
  margin: 0;
}
.section-main-product-gift-card header .logo-linear {
  height: 2.5rem;
  width: -webkit-fit-content;
  width: fit-content;
  display: block;
  margin-bottom: 1.5rem;
}
.section-main-product-gift-card header .logo-linear .colour {
  fill: var(--colour-water);
}
.section-main-product-gift-card .content #gift-card-code {
  background-color: var(--colour-gallery);
  border-radius: var(--border-radius-sm);
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section-main-product-gift-card .content .gift-img {
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  aspect-ratio: 4/3;
  object-fit: cover;
  display: block;
  margin-bottom: 1.5rem;
}
.section-main-product-gift-card .content hr {
  border-color: var(--colour-tuna);
  margin-bottom: 1.5rem;
}
.section-main-product-gift-card .content .actions {
  flex-direction: column;
}
.section-main-product-gift-card .content .actions,
.section-main-product-gift-card .content .actions .btns {
  display: flex;
  gap: 1rem;
}
.section-main-product-gift-card .content .actions .btns {
  align-items: center;
  flex-wrap: wrap;
}