.section-quiz quiz-form {
  --form-input-background: var(--colour-pampas);
  display: block;
  width: 100%;
}
.section-quiz quiz-form header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.section-quiz quiz-form header button {
  display: flex;
}
.section-quiz quiz-form header button:has(svg) {
  align-items: center;
  gap: 0.75rem;
}
.section-quiz quiz-form header button:has(svg) svg {
  height: 0.75rem;
  width: 0.75rem;
  fill: currentColor;
}
.section-quiz .wrapper {
  background-color: var(--colour-white);
  border-radius: var(--border-radius-xl);
  padding: 1rem;
  display: grid;
  align-items: center;
  position: relative;
}
.section-quiz progress {
  content: "";
  height: 0.75rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border-radius: var(--border-radius-xs);
  overflow: hidden;
  display: block;
  margin-bottom: 2.5rem;
}
.section-quiz progress[value]::-webkit-progress-bar {
  background-color: var(--colour-gallery);
}
.section-quiz progress[value]::-webkit-progress-value {
  background-color: var(--colour-tuna);
  border: 4px solid var(--colour-pampas);
  border-radius: var(--border-radius-xs);
}
.section-quiz .questions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}
.section-quiz .questions.wrap {
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.section-quiz .quiz-heading {
  display: grid;
  gap: 1.5rem;
}
.section-quiz .quiz-heading * {
  margin-bottom: 0;
}
.section-quiz quiz-step {
  display: grid;
  gap: 2.5rem;
  width: 100%;
  max-width: 64rem;
  white-space: normal !important;
}
.section-quiz quiz-step.centre, .section-quiz quiz-step.center {
  width: 100%;
  margin-inline: auto;
  text-align: center;
  place-items: center;
}
.section-quiz quiz-step.centre .actions, .section-quiz quiz-step.center .actions {
  align-items: center;
}
.section-quiz quiz-step.centre p, .section-quiz quiz-step.center p {
  margin-inline: auto;
}
.section-quiz quiz-step.centre .heading-text-right, .section-quiz quiz-step.center .heading-text-right {
  text-wrap: auto;
}
.section-quiz quiz-step.has-content {
  max-width: 100%;
}
.section-quiz quiz-step.has-content .actions {
  align-items: start;
}
.section-quiz quiz-step .actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.section-quiz label:empty {
  display: none;
}
.section-quiz input[type=email] {
  min-width: 20rem;
}
.section-quiz .form-field {
  gap: 1rem;
}
.section-quiz .form-field .email-label {
  text-align: left;
}
.section-quiz .form-field .email-input {
  display: grid;
  grid: initial;
  grid-row: none;
}
.section-quiz .form-field .number-label {
  text-align: left;
}
.section-quiz .form-field .number-input {
  display: grid;
  grid: initial;
  grid-row: none;
}
.section-quiz [data-question-type=checkboxes] {
  display: grid;
  gap: 1rem;
}
.section-quiz [data-question-type=checkboxes]:has(.form-field:nth-of-type(8)) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.section-quiz [data-question-type=checkboxes]:has(.form-field:nth-of-type(8)) .form-field {
  width: calc(50% - 0.5rem);
}
.section-quiz [data-question-type=checkboxes] .form-field {
  position: relative;
  border-radius: var(--border-radius-sm);
  background-color: var(--colour-pampas);
  text-align: start;
}
.section-quiz [data-question-type=checkboxes] .form-field input[type=checkbox] {
  position: absolute;
  height: 0;
  width: 0;
}
.section-quiz [data-question-type=checkboxes] .form-field input[type=checkbox]:checked + label:after {
  background-color: var(--colour-tuna);
  border: 3px solid var(--colour-white);
  border-radius: 0.25rem;
}
.section-quiz [data-question-type=checkboxes] .form-field label {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  line-height: 1.2;
  padding: 1rem 3rem 1rem 1rem;
}
.section-quiz [data-question-type=checkboxes] .form-field label:before, .section-quiz [data-question-type=checkboxes] .form-field label:after {
  content: "";
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  height: 1rem;
  width: 1rem;
  border-radius: var(--border-radius-xs);
}
.section-quiz [data-question-type=checkboxes] .form-field label:before {
  background-color: var(--colour-white);
}
.section-quiz [data-question-type=checkboxes] .form-field label:after {
  background-color: transparent;
}
.section-quiz [data-question-type=radio] {
  display: grid;
  gap: 1rem;
}
.section-quiz [data-question-type=radio] .form-field {
  position: relative;
  border-radius: var(--border-radius-sm);
  background-color: var(--colour-pampas);
  text-align: start;
  gap: 1rem;
  padding: 1rem;
}
.section-quiz [data-question-type=radio] .form-field input[type=radio] {
  -webkit-appearance: none;
          appearance: none;
  background-color: var(--colour-white);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin: 0;
  display: grid;
  place-content: center;
}
.section-quiz [data-question-type=radio] .form-field input[type=radio]:before {
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 3px solid var(--colour-white);
  transform: scale(0);
  transition: all var(--transition-duration) var(--transition-timing) 0s;
  box-shadow: inset 1rem 1rem var(--colour-tuna);
  background-color: CanvasText;
}
.section-quiz [data-question-type=radio] .form-field input[type=radio]:checked:before {
  transform: scale(1);
}
.section-quiz [data-question-type=email] .form-field,
.section-quiz [data-question-type=number] .form-field,
.section-quiz [data-question-type=text] .form-field {
  display: grid;
  grid-template-columns: 30% 2fr;
}
@media (min-width: 768px) {
  .section-quiz .wrapper {
    padding: 1.5rem;
  }
  .section-quiz [data-question-type=checkboxes] {
    grid-template-columns: 1fr 1fr;
  }
  .section-quiz [data-question-type=radio] {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .section-quiz progress {
    margin-bottom: 4rem;
  }
  .section-quiz quiz-step {
    padding-left: 3rem;
    margin-bottom: 2.5rem;
  }
  .section-quiz quiz-step.has-content {
    grid-template-columns: 1fr 37.5rem;
  }
  .section-quiz quiz-step.has-content.centre, .section-quiz quiz-step.has-content.center {
    text-align: start;
    place-items: start;
  }
  .section-quiz quiz-step.has-content.centre p, .section-quiz quiz-step.has-content.center p {
    margin-inline: 0;
  }
  .section-quiz quiz-step.has-content .quiz-heading,
.section-quiz quiz-step.has-content .questions,
.section-quiz quiz-step.has-content .actions {
    grid-column: 1;
    text-align: start;
  }
  .section-quiz quiz-step.has-content .snippet-layout-quiz-content {
    height: 100%;
    grid-row: 1/span 3;
    grid-column: 2;
  }
  .section-quiz [data-question-type=checkboxes]:has(.form-field:nth-of-type(8)) .form-field {
    flex: 20% 1 0;
  }
}
@media (max-width: 1279.98px) {
  .section-quiz quiz-step.has-content .snippet-layout-quiz-content {
    order: 3;
    margin-top: 2.5rem;
    min-height: 24rem;
  }
}