.section-company-reviews {
  margin-top: 2.5rem;
  display: block;
}
.section-company-reviews .wrapper {
  background-color: var(--colour-white-glass);
  padding: 1rem;
  border-radius: var(--border-radius-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 1rem;
}
.section-company-reviews .wrapper .reviews-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.section-company-reviews .wrapper .reviews-logo p {
  margin: 0;
}
.section-company-reviews .wrapper .reviews-logo img,
.section-company-reviews .wrapper .reviews-logo svg {
  height: 1.25rem;
  width: auto;
  object-fit: contain;
}
.section-company-reviews .wrapper .swiper {
  width: 100%;
}
.section-company-reviews .wrapper .swiper-slide {
  display: flex;
  gap: 0.5rem;
}
.section-company-reviews .wrapper .swiper-slide strong {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .section-company-reviews .wrapper {
    flex-direction: row;
    gap: 2rem;
    position: relative;
  }
  .section-company-reviews .wrapper .review-stars {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--colour-white-glass);
    z-index: 2;
    padding: 0 1rem;
  }
  .section-company-reviews .wrapper .review-stars:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 4.5rem;
    background: linear-gradient(90deg, #f7f4f2 0%, rgba(243, 239, 236, 0) 102.5%);
    z-index: 1;
    transform: translateX(100%);
  }
  .section-company-reviews .wrapper .reviews-logo {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: var(--colour-white-glass);
    z-index: 1;
    padding: 0 1rem;
  }
  .section-company-reviews .wrapper .reviews-logo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4.5rem;
    background: linear-gradient(90deg, rgba(243, 239, 236, 0) 0%, #f7f4f2 102.5%);
    z-index: 1;
    transform: translateX(-100%);
  }
  .section-company-reviews .wrapper .reviews-logo p {
    white-space: nowrap;
  }
  .section-company-reviews .wrapper .reviews-logo img,
.section-company-reviews .wrapper .reviews-logo svg {
    height: 1.75rem;
  }
  .section-company-reviews .wrapper .swiper-wrapper {
    transition-timing-function: linear;
    position: relative;
  }
  .section-company-reviews .wrapper .swiper-slide {
    width: -webkit-fit-content;
    width: fit-content;
  }
  .section-company-reviews .wrapper .swiper-slide * {
    white-space: nowrap;
  }
}
@media (max-width: 1023.98px) {
  .section-company-reviews .wrapper .swiper-slide {
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 0.8125rem;
  }
}