.section-main-product {
  display: block;
  padding-bottom: 4rem;
  margin-bottom: 5rem;
  /* border-bottom: 1px solid var(--colour-tuna); */
}
.section-main-product .main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1024px) {
  .section-main-product {
    padding-bottom: 5rem;
    margin-bottom: 7.5rem;
  }
  .section-main-product .main-wrapper {
    display: grid;
    grid-template-columns: 50% 1fr;
    gap: 7.5rem;
  }
}
@media (min-width: 1280px) {
  .section-main-product .main-wrapper {
    grid-template-columns: 50% 32rem 1fr;
  }
}