.section-password {
  --form-input-background: var(--colour-white);
  padding: 5rem 0;
}
.section-password .container {
  max-width: 50rem;
}
.section-password .header, .section-password form {
  margin-bottom: 2rem;
}