.snippet-layout-store-filters {
  display: flex;
  flex-direction: column;
  background-color: var(--colour-white);
  border-radius: var(--border-radius-lg);
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: calc(100vh - 2rem);
  width: calc(100vw - 2rem);
  transition: all var(--transition-duration) var(--transition-timing) 0s;
  transform: translateY(1rem);
  transition-delay: 0s;
  z-index: 1200;
  opacity: 0;
  visibility: hidden;
}
.snippet-layout-store-filters.is-visible {
  transition-delay: var(--transition-duration);
  transform: none;
  opacity: 1;
  visibility: visible;
}
.snippet-layout-store-filters .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.snippet-layout-store-filters .footer {
  padding: 1.5rem;
}
.snippet-layout-store-filters .body {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.snippet-layout-store-filters .body .active-filters-container {
  width: 100%;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--colour-gallery);
}
.snippet-layout-store-filters .body .active-filters-container:not(.is-active) {
  display: none;
}
.snippet-layout-store-filters .body .active-filters-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}
.snippet-layout-store-filters .body .active-filters-container li:not(.clear-all) {
  grid-column: 1;
}
.snippet-layout-store-filters .body .active-filters-container li.clear-all {
  grid-row: 1;
  grid-column: 2;
}
.snippet-layout-store-filters .body .active-filters-container li.clear-all a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}
.snippet-layout-store-filters .body .active-filters-container a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.snippet-layout-store-filters .body .filter-category {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.snippet-layout-store-filters .body .filter-category:not(:last-of-type) {
  padding-bottom: 1rem;
}
.snippet-layout-store-filters .body ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100%;
  gap: 1.5rem;
}
.snippet-layout-store-filters .body li input[type=checkbox] {
  position: absolute;
  height: 0;
  width: 0;
}
.snippet-layout-store-filters .body li input[type=checkbox]:checked + label {
  font-weight: 500;
}
.snippet-layout-store-filters .body li input[type=checkbox]:checked + label:after {
  background-color: var(--colour-tuna);
  border: 3px solid var(--colour-pampas);
  border-radius: 0.25rem;
}
.snippet-layout-store-filters .body li label {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  cursor: pointer;
  position: relative;
  line-height: 1.2;
}
.snippet-layout-store-filters .body li label:before, .snippet-layout-store-filters .body li label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1rem;
  width: 1rem;
  border-radius: var(--border-radius-xs);
}
.snippet-layout-store-filters .body li label:before {
  background-color: var(--colour-pampas);
}
.snippet-layout-store-filters .body li label:after {
  background-color: transparent;
}
.snippet-layout-store-filters .body li label .is-disabled {
  opacity: 0.4;
}
.snippet-layout-store-filters .body li a {
  color: var(--colour-tuna);
  text-decoration: none;
}
.snippet-layout-store-filters .body .price-range {
  display: flex;
  gap: 1rem;
}
.snippet-layout-store-filters .body .price-range .form-input {
  border: none;
}
.snippet-layout-store-filters .body .price-range > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--colour-pampas);
  border-radius: var(--border-radius-sm);
  overflow: hidden;
  padding: 0 0.75rem;
}
.snippet-layout-store-filters .body .price-range input[type=number] {
  height: 3rem;
  padding: 0;
  background-color: transparent;
}
@media (min-width: 768px) {
  .snippet-layout-store-filters {
    width: 80vw;
  }
  .snippet-layout-store-filters .body ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .snippet-layout-store-filters {
    width: 36rem;
  }
  .snippet-layout-store-filters .body ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}