.snippet-layout-quiz-content {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-md);
  flex-shrink: 0;
  width: 100%;
}
.snippet-layout-quiz-content:before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: var(--colour-black);
  opacity: 0.4;
}
.snippet-layout-quiz-content > img,
.snippet-layout-quiz-content > video {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
.snippet-layout-quiz-content .card-content {
  min-height: 400px;
  padding: 1.5rem;
  color: var(--colour-white);
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-end;
  padding-bottom: 6.5rem;
}
.snippet-layout-quiz-content .card-content a {
  color: inherit;
}
.snippet-layout-quiz-content .card-content * {
  margin: 0;
}
.snippet-layout-quiz-content .vw-product-widget {
  display: none !important;
}