info-modal {
  display: flex;
  flex-direction: column;
  background-color: var(--colour-white);
  border-radius: var(--border-radius-lg);
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: calc(100vh - 2rem);
  width: calc(100vw - 2rem);
  transition: all var(--transition-duration) var(--transition-timing) 0s;
  transform: translateY(1rem);
  transition-delay: 0s;
  z-index: 1200;
  opacity: 0;
  visibility: hidden;
}
info-modal .close-icon {
  display: flex;
  width: -webkit-fit-content;
  width: fit-content;
  margin-left: auto;
  cursor: pointer;
  padding: 1.5rem;
}
info-modal .close-icon svg {
  width: 1rem;
  height: 1rem;
}
info-modal .modal-content {
  padding: 1.5rem;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 2rem;
}
info-modal .modal-content,
info-modal .modal-content .header {
  display: flex;
  flex-direction: column;
}
info-modal[data-is-open=true] {
  transition-delay: var(--transition-duration);
  transform: none;
  opacity: 1;
  visibility: visible;
}
@media (min-width: 768px) {
  info-modal {
    width: 80vw;
  }
}
@media (min-width: 1024px) {
  info-modal {
    width: 40rem;
  }
}