.snippet-card-category {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-lg);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  aspect-ratio: 4/5;
}
.snippet-card-category:before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(116.9% 136.49% at 98.53% 1.82%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 100%);
  z-index: 5;
}
.snippet-card-category img, .snippet-card-category svg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: cover;
}
.snippet-card-category *:not(img) {
  position: relative;
  z-index: 10;
}
.snippet-card-category .card-title {
  margin-top: auto;
  color: var(--colour-white);
}
.snippet-card-category .card-title a {
  text-decoration: none;
  color: inherit;
}
@media (min-width: 1024px) {
  .snippet-card-category {
    border-radius: var(--border-radius-xl);
  }
}