.snippet-card-article {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-lg);
  background-color: var(--colour-white);
  padding: 0.5rem;
  gap: 1.5rem;
  position: relative;
}
.snippet-card-article img {
  height: auto;
  width: 100%;
  aspect-ratio: 1;
  border-radius: var(--border-radius-sm);
  object-fit: cover;
}
.template-search .snippet-card-article img {
  aspect-ratio: none;
  height: 100%;
  flex-grow: 1;
}

.snippet-card-article .card-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0.5rem 0.5rem;
}
.snippet-card-article .card-details .title {
  margin: 0;
}
@media (hover: hover) {
  .snippet-card-article {
    transition: all var(--transition-duration) var(--transition-timing) 0s;
  }
  .snippet-card-article:hover, .snippet-card-article:focus {
    background-color: var(--colour-white);
  }
}