.snippet-preview-link {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 500;
  display: flex;
  max-width: calc(100% - 2rem);
  gap: 0.5rem;
  align-items: center;
  background-color: var(--colour-tuna);
  color: var(--colour-white);
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-radius: var(--border-radius-md);
}
.snippet-preview-link input {
  opacity: 0;
  position: absolute;
}
.snippet-preview-link a.c-btn {
  flex-shrink: 1;
  color: inherit;
  text-decoration: none;
}
.snippet-preview-link .close, .snippet-preview-link .copy {
  height: 2rem;
  width: 2rem;
  padding: 0;
  display: grid;
  place-content: center;
  border-radius: var(--border-radius-xs);
  flex-shrink: 0;
  border: 1px solid var(--colour-periwinkle-grey);
  transition: all var(--transition-duration) var(--transition-timing) 0s;
}
.snippet-preview-link .close svg, .snippet-preview-link .copy svg {
  height: 1rem;
  width: 1rem;
  fill: var(--colour-white);
}
.snippet-preview-link .close:hover, .snippet-preview-link .close:focus, .snippet-preview-link .copy:hover, .snippet-preview-link .copy:focus {
  background-color: var(--colour-periwinkle-grey);
}