.snippet-cart-rewards {
  --item-width: 6rem;
  --gap: 0.25rem;
  display: grid;
  position: relative;
  margin-bottom: 1rem;
  gap: var(--gap);
  background-color: var(--colour-gallery);
  padding: 1rem 0.5rem;
  border-radius: var(--border-radius-md);
  overflow-x: auto;
}
.snippet-cart-rewards > div {
  display: flex;
  justify-content: space-between;
}
.snippet-cart-rewards .reward-items-progress > .progress-item {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: var(--item-width);
  flex-shrink: 0;
}
.snippet-cart-rewards .reward-items-progress > .progress-item:first-of-type .icon {
  background-color: var(--colour-we-peep);
}
.snippet-cart-rewards .reward-items-progress > .progress-item:not(:first-of-type) {
  flex-grow: 1;
}
.snippet-cart-rewards .reward-items-content {
  display: flex;
  justify-content: space-between;
}
.snippet-cart-rewards .reward-items {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  flex-grow: 1;
}
.snippet-cart-rewards .reward-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: var(--item-width);
  flex-shrink: 0;
}
.snippet-cart-rewards .reward-item * {
  font-size: 0.75rem;
}
.snippet-cart-rewards .icon-wrapper {
  width: var(--item-width);
  display: flex;
  justify-content: center;
}
.snippet-cart-rewards .icon {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--colour-white);
  border-radius: var(--border-radius-sm);
  position: relative;
  z-index: 5;
  margin-bottom: 0.25rem;
  flex-shrink: 0;
}
.snippet-cart-rewards .icon:has(.icon-verified) {
  background-color: var(--colour-we-peep);
}
.snippet-cart-rewards .icon svg {
  height: 1rem;
  width: 1rem;
}

.progress-bar {
  content: "";
  position: absolute;
  right: 4.5rem;
  height: 2px;
  width: calc(100% - 3rem);
  -webkit-appearance: none;
  appearance: none;
  margin-top: 1.5rem;
}
.progress-bar[value]::-webkit-progress-bar {
  background-color: var(--colour-white);
}
.progress-bar[value]::-webkit-progress-value {
  background-color: var(--colour-we-peep);
}
@media (min-width: 768px) {
  .snippet-cart-rewards {
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  .snippet-cart-rewards .reward-item * {
    font-size: 0.813rem;
  }
}