.collection-losenges {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 0.75rem;
  justify-content: center;
}
.collection-losenges.losenge {
  background-color: var(--colour-white);
  border-radius: var(--border-radius-sm);
  padding: 0.25rem 0.75rem 0.25rem 0.25rem;
}
.collection-losenges.losenge > a {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
}
.collection-losenges.losenge > a img {
  border-radius: var(--border-radius-sm);
  height: 4rem;
  width: 4rem;
}
.collection-losenges.losenge > a span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--colour-black);
}