.snippet-card-subscription-product {
  position: relative;
  height: auto;
  border-radius: var(--border-radius-lg);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: rgba(255, 255, 255, 0.32);
}
.snippet-card-subscription-product .c-lozenges {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 5;
  max-width: calc(100% - 2rem);
  flex-wrap: wrap;
}
.snippet-card-subscription-product .c-lozenges:not(:has(svg)) {
  line-height: 1.25;
}
.snippet-card-subscription-product .c-lozenges li {
  border-radius: var(--border-radius-xs);
}
.snippet-card-subscription-product .card-image img {
  border-radius: var(--border-radius-sm);
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
}
.snippet-card-subscription-product .card-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.snippet-card-subscription-product .card-details a {
  color: var(--colour-text-base);
  margin: 0;
  text-decoration: none;
}
.snippet-card-subscription-product .card-details a:hover {
  color: var(--colour-primary);
}
.snippet-card-subscription-product form {
  margin-top: auto;
  background-color: var(--colour-white);
  border-radius: var(--border-radius-sm);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  z-index: 10;
}
.snippet-card-subscription-product form .add-to-basket {
  width: 100%;
  justify-content: center;
}
.snippet-card-subscription-product .subscription-selector-wrapper {
  position: relative;
}
.snippet-card-subscription-product .subscription-selector-wrapper .selected-option {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  padding: 0.75rem;
}
.snippet-card-subscription-product .subscription-selector-wrapper .selected-option svg {
  width: 0.75rem;
  position: relative;
  z-index: 10;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.snippet-card-subscription-product .subscription-selector-wrapper .selected-info,
.snippet-card-subscription-product .subscription-selector-wrapper .variant-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-right: 2rem;
}
.snippet-card-subscription-product .subscription-selector-wrapper .selected-info .title,
.snippet-card-subscription-product .subscription-selector-wrapper .variant-info .title {
  font-weight: 600;
}
.snippet-card-subscription-product .subscription-selector-wrapper .selected-info .tagline,
.snippet-card-subscription-product .subscription-selector-wrapper .selected-info .info,
.snippet-card-subscription-product .subscription-selector-wrapper .variant-info .tagline,
.snippet-card-subscription-product .subscription-selector-wrapper .variant-info .info {
  font-size: 0.75rem;
  font-weight: 500;
  opacity: 0.8;
}
.snippet-card-subscription-product .subscription-selector-wrapper .selected-info .tagline.hidden,
.snippet-card-subscription-product .subscription-selector-wrapper .selected-info .info.hidden,
.snippet-card-subscription-product .subscription-selector-wrapper .variant-info .tagline.hidden,
.snippet-card-subscription-product .subscription-selector-wrapper .variant-info .info.hidden {
  display: none;
}
.snippet-card-subscription-product .subscription-selector-wrapper .selected-prices,
.snippet-card-subscription-product .subscription-selector-wrapper .variant-prices {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.snippet-card-subscription-product .subscription-selector-wrapper .selected-prices .current,
.snippet-card-subscription-product .subscription-selector-wrapper .variant-prices .current {
  font-size: 0.875rem;
  font-weight: 700;
}
.snippet-card-subscription-product .subscription-selector-wrapper .selected-prices .was,
.snippet-card-subscription-product .subscription-selector-wrapper .variant-prices .was {
  opacity: 0.6;
  font-size: 0.75rem;
  font-weight: 500;
  text-decoration: line-through;
}
.snippet-card-subscription-product .subscription-selector-wrapper .selected-prices .savings,
.snippet-card-subscription-product .subscription-selector-wrapper .variant-prices .savings {
  padding: 0.5rem;
  background-color: var(--colour-we-peep);
  color: var(--colour-tuna);
  border-radius: var(--border-radius-xs);
  font-size: 0.75rem;
  position: absolute;
  top: -1.25rem;
  right: 0.5rem;
  z-index: 10;
}
.snippet-card-subscription-product .subscription-selector-wrapper .selected-prices .savings.hidden,
.snippet-card-subscription-product .subscription-selector-wrapper .variant-prices .savings.hidden {
  display: none;
}
.snippet-card-subscription-product .subscription-selector-wrapper .subscription-options {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: calc(100% + 1rem);
  background-color: var(--colour-white);
  border-radius: var(--border-radius-sm);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1;
}
.snippet-card-subscription-product .subscription-selector-wrapper .subscription-options li {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  cursor: pointer;
  padding: 0.75rem;
  background-color: transparent;
  border-radius: var(--border-radius-xs);
  transition: all var(--transition-duration) var(--transition-timing) 0s;
}
.snippet-card-subscription-product .subscription-selector-wrapper .subscription-options li:not(:last-child) {
  border-bottom: 1px solid var(--colour-gallery);
}
.snippet-card-subscription-product .subscription-selector-wrapper .subscription-options li:hover, .snippet-card-subscription-product .subscription-selector-wrapper .subscription-options li:focus {
  background-color: var(--colour-gallery);
}
.snippet-card-subscription-product .subscription-selector-wrapper .subscription-options.hidden {
  display: none;
}
.snippet-card-subscription-product .subscription-selector-wrapper:not(:has(.subscription-options.hidden)) .selected-prices .savings {
  display: none;
}
@media (min-width: 1024px) {
  .snippet-card-subscription-product {
    padding: 1rem;
  }
  .snippet-card-subscription-product .c-lozenges {
    top: 1.5rem;
    left: 1.5rem;
    max-width: calc(100% - 3rem);
  }
}