.snippet-card-collection {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius-lg);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  aspect-ratio: 4/5;
}
.snippet-card-collection:before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(116.9% 136.49% at 98.53% 1.82%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 100%);
  z-index: 5;
  pointer-events: none;
}
.snippet-card-collection .card-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.snippet-card-collection img,
.snippet-card-collection svg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.snippet-card-collection *:not(img) {
  position: relative;
  z-index: 10;
}
.snippet-card-collection .card-title {
  margin: auto 0 0;
  color: var(--colour-white);
}
.snippet-card-collection .card-title a {
  text-decoration: none;
  color: inherit;
}
@media (min-width: 1024px) {
  .snippet-card-collection {
    border-radius: var(--border-radius-xl);
  }
}