cart-drawer {
  --cart-image-size: 4rem;
  z-index: 1200;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  background-color: var(--colour-white);
  transition: all var(--transition-duration) var(--transition-timing) 0s;
  transform: translateY(1rem);
  transition-delay: 0s;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  border-radius: var(--border-radius-md);
}
cart-drawer[data-is-open=true] {
  transition-delay: var(--transition-duration);
  transform: none;
  opacity: 1;
  visibility: visible;
}
cart-drawer[data-is-open=true] .section-cart-drawer-related-products {
  opacity: 1;
  visibility: visible;
  transition-delay: var(--transition-duration);
}
cart-drawer .drawer-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
}
cart-drawer .drawer-header .drawer-count {
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
}
cart-drawer .drawer-header .close-btn {
  margin-left: auto;
}
cart-drawer .wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 1.5rem;
}
cart-drawer .wrapper > #shopify-section-cart-drawer-items {
  flex-grow: 1;
}
cart-drawer .cart-drawer-items {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
cart-drawer hr {
  border-color: var(--colour-ghost);
}
cart-drawer .cart-summary .snippet-data-cart-totals {
  margin-bottom: 1rem;
}
cart-drawer .cart-drawer-actions .c-btn.main {
  padding-left: 1rem;
  padding-right: 1rem;
}
cart-drawer .cart-drawer-actions {
  text-align: center;
}
cart-drawer .cart-drawer-actions a {
  margin-bottom: 0.5rem;
}
cart-drawer .section-cart-drawer-related-products {
  --padding: 1rem;
}
cart-drawer .section-cart-drawer-related-products .block-text-light {
  text-align: center;
  margin-inline: auto;
  font-size: 1.25rem;
}
cart-drawer .section-cart-drawer-related-products .swiper .snippet-card-product-add-on {
  --scpao-img-width: 3rem;
}
cart-drawer .empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  cart-drawer {
    width: 32rem;
  }
}
@media (min-width: 1024px) {
  cart-drawer .section-cart-drawer-related-products {
    position: fixed;
    right: 34rem;
    width: 17.5rem;
    top: 1rem;
    height: calc(100% - 2rem);
    opacity: 0;
    visibility: hidden;
    transition: all var(--transition-duration) var(--transition-timing) 0s;
    background-color: var(--colour-gallery);
    padding: var(--padding) var(--padding) 0;
    border-radius: var(--border-radius-md);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  cart-drawer .section-cart-drawer-related-products .layout-related-products {
    height: 100%;
    overflow: hidden;
  }
  cart-drawer .section-cart-drawer-related-products .swiper {
    height: 100%;
    padding-bottom: var(--padding);
  }
  cart-drawer .section-cart-drawer-related-products .swiper .swiper-slide {
    height: auto;
  }
  cart-drawer .section-cart-drawer-related-products .swiper .snippet-card-product-add-on {
    grid-template-columns: 100%;
    --scpao-img-width: 100%;
  }
  cart-drawer .section-cart-drawer-related-products .swiper .snippet-card-product-add-on .card-details {
    padding: 0.5rem;
    font-size: 0.875rem;
  }
  cart-drawer .section-cart-drawer-related-products .swiper .snippet-card-product-add-on .add-to-cart {
    background-color: var(--colour-tuna);
    padding: 0.7rem 1.5rem;
    border-radius: var(--border-radius-sm);
    color: var(--colour-white);
    width: 100%;
    justify-content: center;
    line-height: normal;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    font-weight: 500;
  }
  cart-drawer .section-cart-drawer-related-products .swiper .snippet-card-product-add-on .add-to-cart:hover, cart-drawer .section-cart-drawer-related-products .swiper .snippet-card-product-add-on .add-to-cart:focus {
    background-color: var(--colour-we-peep);
    color: var(--colour-tuna);
  }
  cart-drawer .section-cart-drawer-related-products .swiper .snippet-card-product-add-on .add-to-cart svg {
    display: none;
  }
}
@media (min-width: 1024px) and (min-width: 1280px) {
  cart-drawer .section-cart-drawer-related-products {
    --padding: 1.5rem;
  }
}
@media (max-width: 1023.98px) {
  cart-drawer .section-cart-drawer-related-products .swiper {
    margin-top: 2rem;
  }
  cart-drawer .section-cart-drawer-related-products .swiper .swiper-wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
  }
  cart-drawer .section-cart-drawer-related-products .swiper .snippet-card-product-add-on .add-to-cart span {
    display: none;
  }
}