.snippet-layout-product-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.snippet-layout-product-form form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.snippet-layout-product-form form > .snippet-data-prices {
  margin-bottom: 1.25rem;
}
.snippet-layout-product-form form > .snippet-data-prices .current {
  font-size: 1.25rem;
}
.snippet-layout-product-form .product-title {
  margin-bottom: 0.25rem;
}
.snippet-layout-product-form .rc-widget {
  display: none !important;
}
.snippet-layout-product-form .ruk_rating_snippet {
  text-decoration: none;
  color: inherit;
}
.snippet-layout-product-form .product-short-desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
}
.snippet-layout-product-form .product-short-desc p {
  margin-bottom: 0;
}
.snippet-layout-product-form .product-short-desc .read-more {
  width: -webkit-fit-content;
  width: fit-content;
  cursor: pointer;
  color: var(--colour-black);
  font-weight: 500;
}
.snippet-layout-product-form ul.trust-points {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.25rem;
}
.snippet-layout-product-form ul.trust-points li {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--colour-black);
  font-weight: 500;
  align-items: center;
}
.snippet-layout-product-form ul.trust-points li svg,
.snippet-layout-product-form ul.trust-points li img {
  height: 1rem;
  width: 1rem;
  fill: currentColor;
}
.snippet-layout-product-form ul.trust-points li.alt {
  order: 2;
  margin-top: 0.75rem;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  border-radius: var(--border-radius-sm);
  font-weight: 600;
}
.snippet-layout-product-form ul.trust-points li.alt.gallery {
  background-color: var(--colour-gallery);
  color: var(--colour-tuna);
  border: 1px solid var(--colour-tuna);
}
.snippet-layout-product-form ul.trust-points li.alt.tuna {
  background-color: var(--colour-tuna);
  color: var(--colour-white);
  border: 1px solid var(--colour-white);
}
.snippet-layout-product-form ul.trust-points li.alt.we-peep {
  background-color: var(--colour-we-peep);
  color: var(--colour-tuna);
  border: 1px solid var(--colour-tuna);
}
.snippet-layout-product-form ul.trust-points li.alt .extra-text {
  margin-left: auto;
}
.snippet-layout-product-form .product-q-and-a {
  text-align: center;
  background-color: var(--colour-light-grey);
  padding: 1rem;
  border-radius: var(--border-radius-md);
}
.snippet-layout-product-form .product-q-and-a .product-q-and-a_question {
  font-size: 1rem;
}
.snippet-layout-product-form .product-q-and-a .product-q-and-a_question p {
  margin-bottom: 0.8rem;
}
.snippet-layout-product-form .product-q-and-a .product-q-and-a__answer p {
  margin-bottom: 0;
}
.snippet-layout-product-form .add-to-basket {
  width: 100%;
  justify-content: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.snippet-layout-product-form .disclaimer {
  display: block;
  margin-top: -4px;
  margin-bottom: 0;
  text-align: center;
}
.snippet-layout-product-form .data-product-variants fieldset {
  border: none;
  padding: 0;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.bundle legend {
  margin-bottom: 1rem;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper legend {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper legend::before, .snippet-layout-product-form .data-product-variants .product-option-wrapper legend::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #000;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper legend:not(:empty)::before {
  margin-right: 1em;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper legend:not(:empty)::after {
  margin-left: 1em;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper ul li input {
  display: none;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper ul li label {
  display: block;
  width: -webkit-fit-content;
  width: fit-content;
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--colour-ghost);
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: var(--border-radius-md);
  cursor: pointer;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper ul li label:has(img) {
  background-color: transparent;
  padding: 0.25rem;
  border: 1px solid var(--colour-grey);
  background-color: unset;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper ul li label:has(img) img {
  height: 4rem;
  width: 4rem;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: var(--border-radius-sm);
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper ul li input:checked + label {
  border: 1px solid var(--colour-tuna);
  background-color: var(--colour-white);
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper ul li input:checked + label:has(img) {
  background-color: transparent;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper ul li input:checked + label:has(.option-trust-points) {
  background-color: var(--colour-white);
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li {
  width: 100%;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1.25rem;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .option-header {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  color: var(--colour-tuna);
  padding-bottom: 1rem;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .option-header .checked-icon {
  display: block;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid var(--colour-tuna);
  position: relative;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .option-header .lozenge {
  font-size: 0.75rem;
  color: var(--colour-white);
  padding: 0.5rem;
  background-color: var(--colour-tuna);
  border-radius: var(--border-radius-xs);
  line-height: 0.75rem;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .option-header .option-selector-title {
  display: flex;
  gap: 0.5rem;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .option-header .option-title {
  font-weight: 500;
  position: relative;
  bottom: 2px;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .option-header .prices {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .option-header .prices .was {
  opacity: 0.6;
  text-decoration: line-through;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .option-header .prices .current {
  font-weight: 700;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .option-saving {
  margin-left: auto;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .option-saving span {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--colour-tuna);
  background-color: var(--colour-we-peep);
  padding: 0.5rem;
  border-radius: var(--border-radius-xs);
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .option-trust-points {
  list-style: none;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
  padding-top: 1rem;
  border-top: 1px solid var(--colour-tuna);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 6px;
  color: var(--colour-black);
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .option-trust-points li {
  display: flex;
  gap: 0.5rem;
  opacity: 0.6;
  flex-basis: calc(50% - 3px);
  flex-grow: 1;
  flex-shrink: 1;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .option-trust-points li img {
  width: 0.75rem;
  height: 0.75rem;
  margin-top: 0.3rem;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .option-trust-points li span span {
  display: block;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .banner {
  text-align: center;
  margin-bottom: -11px;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .banner-text {
  padding: 0.3rem 1.2rem;
  background-color: var(--colour-tuna);
  color: var(--colour-white);
  border-radius: var(--border-radius-sm);
  text-transform: capitalize;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .free-gift-wrapper {
  border-radius: var(--border-radius-sm);
  border: 3px dotted var(--colour-we-peep);
  background-color: var(--colour-white-glass);
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .free-gift-wrapper .free-gift {
  display: grid;
  grid-template-columns: 4.5rem 1fr;
  gap: 1rem;
  padding: 1.2rem 0.5rem;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .free-gift-wrapper .free-gift img {
  width: 4.5rem;
  height: 4.5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--border-radius-xs);
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .free-gift-wrapper .free-gift .free-gift-info {
  display: flex;
  gap: 0.25rem;
  font-size: 0.875rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .free-gift-wrapper .free-gift .free-gift-info .free-gift-pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .free-gift-wrapper .free-gift .free-gift-info .free-gift-free {
  background-color: var(--colour-pink);
  color: var(--colour-white);
  padding: 0.3rem 0.8rem;
  border-radius: var(--border-radius-lg);
  text-transform: uppercase;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label .free-gift-wrapper .free-gift .free-gift-info .free-gift-price {
  font-size: 0.813rem;
  font-weight: 600;
  color: var(--colour-tuna);
  opacity: 0.6;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li input:checked + label .checked-icon::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  display: block;
  background-color: var(--colour-tuna);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.snippet-layout-product-form .layout-complimentary-products > .products {
  display: grid;
  gap: 1rem;
}

.alt-purchase {
  text-align: center;
}
.alt-purchase .alt-purchase__button {
  border: none;
  background-color: var(--colour-pampas);
  text-decoration: underline;
  cursor: pointer;
}
.alt-purchase .alt-purchase__button:hover {
  text-decoration: none;
}

.mobile-lozenge-bar,
.option-header .lozenge {
  display: none;
}

.snippet-layout-product-form .data-product-variants .product-option-wrapper.subscription ul li label {
  padding: 0;
  overflow: hidden;
}

.product-option-wrapper.subscription ul li .mobile-lozenge-bar {
  display: block;
  background-color: var(--colour-tuna);
  color: var(--colour-white);
  text-align: center;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.5rem 1.25rem;
  height: 50px;
  margin-bottom: -20px;
}

.label__content {
  position: relative;
  padding: 1.25rem;
  z-index: 100;
  /* Kept your z-index value */
  background: white;
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}

@media (min-width: 1024px) {
  .snippet-layout-product-form {
    gap: 2.5rem;
    position: sticky;
    top: 5rem;
    height: -webkit-fit-content;
    height: fit-content;
    padding-top: 2rem;
  }
}