.variant-tabs {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.variant-tab {
    padding: 24px 10px 24px 10px;
    border: 1px solid #E2DEDB;
    background: #F8F4F280;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease;
    font-size: 14px;
    text-align: center;
    position: relative;
}
.variant-tab .cs-mobile-lozenge-bar {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    background: #A06864;
    padding: 4px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #F8F4F2;
}
.variant-tab .cs-free-gift-free {
    background: #FAF4F4;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #A06864;
    position: absolute;
    padding: 4px;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

.variant-tab.active {
    background: #FFFFFF;
    border-color: #343436;
}

.variant-tab.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: line-through;
}
.variant-tab .variant-image-box img {
    height: 61px;
    width: auto;
    margin-inline: auto;
    margin-bottom: 10px;
}
.variant-tab  .csdata-heading {
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    color: #343436;
}
.variant-tab .csdata-heading span {
    display: block;
    color: #7A7A7A;
    font-size: 13px;
    font-weight: 400;
    margin-top: 4px;
}

.product-option-wrapper.subscription ul#variant-list label.has-image {
    border: 0;
    border-radius: 6px;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 16px;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content .option-header .option-saving span {
    display: inline-block;
    background: #FAF4F4;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #A06864;
    padding: 4px;
    border-radius: 4px;
}
.product-option-wrapper.subscription label.has-image .option-header {
    align-items: center;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content .option-header span.money {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content .option-header .was span.money {
    font-size: 13px;
    font-weight: 500;
    color: #828282;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content .option-header {
    gap: 14px;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content .option-header span.option-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content .option-header {
    gap: 14px;
    padding-bottom: 12px;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content ul.option-trust-points {
    border-top: 1px solid #F3EFEC;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content ul.option-trust-points li {
    flex-basis: 100%;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    color: #343436;
    opacity: 1;
    margin-top: 4px;
    align-items: center;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content ul.option-trust-points li svg {
    width: 12px;
    height: auto;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content ul.option-trust-points li img.icon {
    display: none;
}

.product-option-wrapper.subscription ul#variant-list label.has-image .label__content .free-gift-wrapper {
    border: 0;
    background: #FAF4F4;
    border-radius: 6px;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content .free-gift-wrapper .free-gift {
    padding: 6px;
    align-items: center;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content .free-gift-wrapper .free-gift .free-gift-info {
    display: block;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content .free-gift-wrapper .free-gift .free-gift-info .free-gift-pricing {
    align-items: center;
    gap: 8px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 5px;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content .free-gift-wrapper .free-gift .free-gift-info .free-gift-pricing span.free-gift-free {
    background: #A06864;
    border-radius: 4px;
    padding: 4px;
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content .free-gift-wrapper .free-gift .free-gift-info .free-gift-pricing .free-gift-price {
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    color: #828282;
    opacity: 1;
}
.product-option-wrapper.subscription ul#variant-list label.has-image .label__content .free-gift-wrapper .free-gift .free-gift-info .free-gift-pricing .free-gift-price span.money {
    color: #343436 !important;
    font-weight: 600;
}

.product-option-wrapper.subscription ul#variant-list label.has-image .label__content .free-gift-wrapper .free-gift .free-gift-info span.banner-text {
    background: transparent;
    padding: 0;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0;
    color: #7A7A7A;
    margin-bottom: 3px;
}