*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

iframe {
  border: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  overflow-wrap: break-word;
}

a[href^="tel:"] {
  cursor: default;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

[hidden] {
  display: none !important;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  letter-spacing: var(--letter-spacing-base);
  color: var(--colour-text-base);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--colour-bg) !important;
  background-size: cover;
  width: 100%;
  margin: 0;
  padding: 0;
}

.site-main {
  flex-grow: 2;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

hr {
  border-width: 1px 0 0;
  border-style: solid;
  border-color: var(--colour-gallery);
  width: 100%;
}

#wrapper .shopify-policy__container {
  margin-bottom: 3rem;
}
#wrapper .shopify-policy__title {
  text-align: start;
}
#wrapper .shopify-policy__title h1 {
  font-family: var(--font-family-heading);
  font-size: clamp(2.5rem, 0.5vw + 2.4rem, 3rem);
  max-width: 40ch;
  margin-bottom: 1ch;
  font-weight: 600;
}
#wrapper .shopify-policy__container {
  max-width: 50rem;
}

.shopify-challenge__container {
  padding: 8rem 0;
}
.shopify-challenge__container .shopify-challenge__button {
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
          appearance: none;
  padding: 0.5rem 0.75rem;
  margin: 0;
  color: var(--colour-text-base);
  background: var(--colour-bg);
  border-radius: 0.25rem;
}
.shopify-challenge__container .shopify-challenge__button:focus {
  outline: none;
}
.shopify-challenge__container .shopify-challenge__button:hover {
  text-decoration: none;
  outline: none;
}
.shopify-challenge__container .shopify-challenge__button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.shopify-challenge__container .shopify-challenge__button:hover, .shopify-challenge__container .shopify-challenge__button:focus {
  color: var(--colour-text-base);
  background: var(--colour-bg);
}

#wrapper #shopify-pc__banner {
  display: none !important;
}

pre {
  white-space: break-spaces;
}

form [data-aria-hidden=true] {
  display: none;
}
form .errors,
form .success {
  padding: 0.75rem;
  width: 100%;
  max-width: var(--form-input-max-width);
}
form .errors {
  background-color: var(--form-error-background);
  color: var(--form-error-foreground);
}
form .errors ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
form .success {
  background-color: var(--form-success-background);
  color: var(--form-success-foreground);
}

.c-form {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.form-field {
  display: flex;
  width: 100%;
  align-items: center;
}
.form-field:has(input[type=radio], input[type=checkbox]) {
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.form-input:is([type="text"],
      [type="number"],
      [type="search"],
      [type="email"],
      [type="password"],
      [type="tel"],
      select,
      textarea) {
  color: inherit;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
          appearance: none;
  padding: 1rem 0.75rem;
  background-color: var(--form-input-background, var(--colour-gallery));
  border-radius: var(--border-radius-sm);
  width: 100%;
  max-width: var(--form-input-max-width);
}
.form-input:is([type="text"],
      [type="number"],
      [type="search"],
      [type="email"],
      [type="password"],
      [type="tel"],
      select,
      textarea):focus {
  outline: none;
}
.form-input:is([type="text"],
      [type="number"],
      [type="search"],
      [type="email"],
      [type="password"],
      [type="tel"],
      select,
      textarea):hover {
  outline: none;
}
.form-input:is([type="text"],
      [type="number"],
      [type="search"],
      [type="email"],
      [type="password"],
      [type="tel"],
      select,
      textarea):disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.form-input:is([type="number"]) {
  width: -webkit-fit-content;
  width: fit-content;
}
.form-input:is([type="checkbox"]) {
  padding: 0;
  border: 0;
  margin-right: 0.5rem;
  border-radius: var(--border-radius-sm);
}
.form-input:is(textarea) {
  min-height: 6.5rem;
  max-height: 25rem;
  min-width: 18rem;
}
.form-input:is(select) {
  padding-right: 3rem !important;
  text-overflow: ellipsis;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M11.84 3.21041L6.38588 8.83504C6.33523 8.88733 6.27507 8.92882 6.20886 8.95713C6.14265 8.98543 6.07168 9 6 9C5.92832 9 5.85735 8.98543 5.79114 8.95713C5.72493 8.92882 5.66477 8.88733 5.61412 8.83504L0.159964 3.21041C0.0835992 3.13174 0.0315843 3.03148 0.0105038 2.92232C-0.0105768 2.81315 0.000224981 2.69999 0.0415416 2.59716C0.0828581 2.49433 0.152832 2.40645 0.242604 2.34465C0.332376 2.28285 0.43791 2.24991 0.545845 2.25H11.4542C11.5621 2.24991 11.6676 2.28285 11.7574 2.34465C11.8472 2.40645 11.9171 2.49433 11.9585 2.59716C11.9998 2.69999 12.0106 2.81315 11.9895 2.92232C11.9684 3.03148 11.9164 3.13174 11.84 3.21041Z' fill='%23343436'/%3E%3C/svg%3E");
  background-position: center right 0.75rem;
  background-repeat: no-repeat;
  background-size: 0.75rem;
  align-self: flex-start;
}
.form-input.fw {
  width: 100%;
  max-width: none;
}

.c-qty {
  display: inline-flex;
  vertical-align: middle;
  align-items: stretch;
}
.c-qty svg {
  height: 1rem;
  width: 1rem;
  fill: currentColor;
}
.c-qty .c-btn {
  flex-shrink: 0;
  display: grid;
  place-content: center;
  color: var(--colour-tuna);
  padding: 0;
}
.c-qty input {
  text-align: center;
  -webkit-appearance: textfield;
          appearance: textfield;
  border: 0;
  padding-left: 0;
  padding-right: 0;
}
.c-qty input::-webkit-outer-spin-button, .c-qty input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.c-btn {
  text-decoration: none;
  letter-spacing: var(--letter-spacing-base);
}
.c-btn:is(button) {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
          appearance: none;
}
.c-btn:is(button):focus {
  outline: none;
}
.c-btn:is(button):hover {
  text-decoration: none;
  outline: none;
}
.c-btn:is(button):disabled {
  opacity: 0.5;
  pointer-events: none;
}
.c-btn:is(span) {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.c-btn:is([disabled]) {
  cursor: default;
  opacity: 0.5;
}
.c-btn.main {
  padding: 1.25rem 4rem;
  border-radius: var(--border-radius-sm);
  text-transform: uppercase;
  font-weight: 500;
  line-height: normal;
  border-width: 1px;
  border-style: solid;
  transition: all var(--transition-duration) var(--transition-timing) 0s;
  display: inline-flex;
  width: -webkit-fit-content;
  width: fit-content;
}
.c-btn.main.tuna {
  background-color: var(--colour-tuna);
  color: var(--colour-white);
  border-color: var(--colour-tuna);
}
.c-btn.main.we-peep {
  background-color: var(--colour-we-peep);
  color: var(--colour-tuna);
  border-color: var(--colour-tuna);
}
.c-btn.main.white {
  background-color: var(--colour-white);
  color: var(--colour-tuna);
  border-color: var(--colour-tuna);
}
.c-btn.main:has(svg) {
  align-items: center;
  gap: 0.5rem;
}
.c-btn.main:has(svg) svg {
  height: 1rem;
  width: 1rem;
  fill: currentColor;
}
.c-btn.alt {
  line-height: normal;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
}
.c-btn.alt:has(svg) {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.c-btn.alt:has(svg) svg {
  height: 1rem;
  width: 1rem;
  fill: currentColor;
}
.c-btn.alt:is(button) {
  padding: 0;
}
.c-btn.fw {
  width: 100%;
}
.c-btn.fw.centre {
  justify-content: center;
}

.block-group-anchors {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

a:has(.ruk_rating_snippet:empty) {
  display: none;
}

.c-alert {
  display: block;
  padding: 1rem;
  background-color: var(--colour-text-base);
  color: var(--colour-bg);
  border-radius: 0.5rem;
}
.c-alert ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rte,
.c-rte,
.metafield-rich_text_field {
  max-width: var(--rte-max-width);
}
.rte p:last-of-type,
.c-rte p:last-of-type,
.metafield-rich_text_field p:last-of-type {
  margin: 0;
}
.rte p:last-of-type + *,
.c-rte p:last-of-type + *,
.metafield-rich_text_field p:last-of-type + * {
  margin-top: 1.5rem;
}
.rte *,
.c-rte *,
.metafield-rich_text_field * {
  max-width: 100%;
}
.rte *:is(h2, h3, h4, h5),
.c-rte *:is(h2, h3, h4, h5),
.metafield-rich_text_field *:is(h2, h3, h4, h5) {
  font-size: var(--fluid-type-size);
  font-weight: var(--font-weight, 400);
  letter-spacing: var(--fluid-letter-spacing);
  line-height: 1.3;
  margin-bottom: var(--fluid-type-margin);
}
.rte h2,
.c-rte h2,
.metafield-rich_text_field h2 {
  --fluid-type-size: clamp(1.5rem, 0.5vw + 1.4rem, 2rem);
}
.rte h3,
.rte h4,
.rte h5,
.c-rte h3,
.c-rte h4,
.c-rte h5,
.metafield-rich_text_field h3,
.metafield-rich_text_field h4,
.metafield-rich_text_field h5 {
  --fluid-type-size: 1.25rem;
  --fluid-type-max-width: 48ch;
  --fluid-type-margin: 1.5ch;
  --fluid-letter-spacing: 0.02rem;
  --font-weight: 500;
}
.rte h6,
.c-rte h6,
.metafield-rich_text_field h6 {
  font-size: 0.875rem;
  line-height: normal;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
}
.rte * + ul,
.rte * + ol,
.c-rte * + ul,
.c-rte * + ol,
.metafield-rich_text_field * + ul,
.metafield-rich_text_field * + ol {
  margin-top: 0.5rem;
}
.rte ul,
.c-rte ul,
.metafield-rich_text_field ul {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.rte ul li,
.c-rte ul li,
.metafield-rich_text_field ul li {
  line-height: 1.5;
}
.rte ul:has(li > svg),
.c-rte ul:has(li > svg),
.metafield-rich_text_field ul:has(li > svg) {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.rte ul:has(li > svg) li,
.c-rte ul:has(li > svg) li,
.metafield-rich_text_field ul:has(li > svg) li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.rte ul:has(li > svg) li svg,
.c-rte ul:has(li > svg) li svg,
.metafield-rich_text_field ul:has(li > svg) li svg {
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
}
.rte table,
.c-rte table,
.metafield-rich_text_field table {
  margin-bottom: 1.5rem;
}

.c-table {
  width: 100%;
}
.c-table table {
  width: 37.5rem;
}
.c-table table th {
  padding: 0.75rem 1rem;
  background-color: var(--colour-black);
  color: var(--colour-white);
  text-align: left;
}
.c-table table td {
  padding: 0.75rem 1rem;
}
.c-table table td a {
  color: var(--colour-black);
}
.c-table table tbody tr:nth-child(even) td {
  background-color: var(--colour-gallery);
}

.c-lozenges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}
.c-lozenges:is(ul, ol) {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 0;
}
.c-lozenges.gap-lg {
  gap: 1.5rem;
}

.c-lozenge,
.c-lozenges .c-lozenge {
  padding: 0.5rem 0.75rem;
  font-size: 0.813rem;
  line-height: 1;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  border-radius: var(--border-radius-sm);
  transition: all var(--transition-duration) var(--transition-timing) 0s;
  color: var(--colour-tuna);
}
.c-lozenge:has(svg),
.c-lozenges .c-lozenge:has(svg) {
  gap: 0.5rem;
}
.c-lozenge:has(svg) svg,
.c-lozenges .c-lozenge:has(svg) svg {
  height: 0.75rem;
  width: 0.75rem;
  fill: currentColor;
  flex-shrink: 0;
}
.c-lozenge.xl,
.c-lozenges .c-lozenge.xl {
  padding: 0.75rem 1rem;
}
.c-lozenge:is(a),
.c-lozenges .c-lozenge:is(a) {
  text-decoration: none;
}
.c-lozenge.gallery,
.c-lozenges .c-lozenge.gallery {
  background-color: var(--colour-gallery);
  border: 1px solid var(--colour-tuna);
}
.c-lozenge.pampas,
.c-lozenges .c-lozenge.pampas {
  background-color: var(--colour-pampas);
  border: 1px solid var(--colour-tuna);
}
.c-lozenge.tuna,
.c-lozenges .c-lozenge.tuna {
  background-color: var(--colour-tuna);
  border: 1px solid var(--colour-tuna);
  color: var(--colour-white);
}
.c-lozenge.we-peep,
.c-lozenges .c-lozenge.we-peep {
  background-color: var(--colour-we-peep);
  border: 1px solid var(--colour-tuna);
}
.c-lozenge.glass,
.c-lozenges .c-lozenge.glass {
  background-color: var(--colour-white-glass);
  border: 1px solid var(--colour-tuna);
}
.c-lozenge:is(a):hover, .c-lozenge:is(a):focus,
.c-lozenges .c-lozenge:is(a):hover,
.c-lozenges .c-lozenge:is(a):focus {
  background-color: var(--colour-white);
}
.c-lozenge.white,
.c-lozenges .c-lozenge.white {
  background-color: var(--colour-white);
  border: 1px solid var(--colour-tuna);
}
.c-lozenge.white:is(a):hover, .c-lozenge.white:is(a):focus,
.c-lozenges .c-lozenge.white:is(a):hover,
.c-lozenges .c-lozenge.white:is(a):focus {
  background-color: var(--colour-we-peep);
}

.c-check-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.c-check-list li {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M8 0C6.41775 0 4.87103 0.469192 3.55544 1.34824C2.23985 2.22729 1.21447 3.47672 0.608967 4.93853C0.00346628 6.40034 -0.15496 8.00887 0.153721 9.56072C0.462403 11.1126 1.22433 12.538 2.34315 13.6569C3.46197 14.7757 4.88743 15.5376 6.43928 15.8463C7.99113 16.155 9.59966 15.9965 11.0615 15.391C12.5233 14.7855 13.7727 13.7602 14.6518 12.4446C15.5308 11.129 16 9.58225 16 8C15.9978 5.87895 15.1542 3.84542 13.6544 2.34562C12.1546 0.845814 10.121 0.00223986 8 0ZM11.5123 6.58923L7.20462 10.8969C7.14746 10.9541 7.07959 10.9995 7.00489 11.0305C6.93018 11.0615 6.8501 11.0774 6.76923 11.0774C6.68836 11.0774 6.60828 11.0615 6.53358 11.0305C6.45887 10.9995 6.391 10.9541 6.33385 10.8969L4.48769 9.05077C4.37222 8.9353 4.30735 8.77868 4.30735 8.61538C4.30735 8.45208 4.37222 8.29547 4.48769 8.18C4.60317 8.06453 4.75978 7.99966 4.92308 7.99966C5.08638 7.99966 5.24299 8.06453 5.35846 8.18L6.76923 9.59154L10.6415 5.71846C10.6987 5.66128 10.7666 5.61593 10.8413 5.58499C10.916 5.55404 10.9961 5.53812 11.0769 5.53812C11.1578 5.53812 11.2378 5.55404 11.3126 5.58499C11.3873 5.61593 11.4551 5.66128 11.5123 5.71846C11.5695 5.77564 11.6148 5.84351 11.6458 5.91822C11.6767 5.99292 11.6927 6.07299 11.6927 6.15384C11.6927 6.2347 11.6767 6.31477 11.6458 6.38947C11.6148 6.46418 11.5695 6.53205 11.5123 6.58923Z' fill='%23343436'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: left center;
  padding-left: 1.5rem;
}

.c-payment-types {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.c-payment-types.centre {
  justify-content: center;
}

.c-social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.c-social-links svg {
  height: 1rem;
  width: auto;
  fill: currentColor;
}

details {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--colour-pampas);
}
details summary {
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  margin: 0;
  width: 100%;
  max-width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M14.6667 0H1.33333C0.979711 0 0.640573 0.140476 0.390524 0.390524C0.140476 0.640573 0 0.979711 0 1.33333V14.6667C0 15.0203 0.140476 15.3594 0.390524 15.6095C0.640573 15.8595 0.979711 16 1.33333 16H14.6667C15.0203 16 15.3594 15.8595 15.6095 15.6095C15.8595 15.3594 16 15.0203 16 14.6667V1.33333C16 0.979711 15.8595 0.640573 15.6095 0.390524C15.3594 0.140476 15.0203 0 14.6667 0ZM12.6667 8.66667H8.66667V12.6667C8.66667 12.8435 8.59643 13.013 8.47141 13.1381C8.34638 13.2631 8.17681 13.3333 8 13.3333C7.82319 13.3333 7.65362 13.2631 7.5286 13.1381C7.40357 13.013 7.33333 12.8435 7.33333 12.6667V8.66667H3.33333C3.15652 8.66667 2.98695 8.59643 2.86193 8.47141C2.7369 8.34638 2.66667 8.17681 2.66667 8C2.66667 7.82319 2.7369 7.65362 2.86193 7.5286C2.98695 7.40357 3.15652 7.33333 3.33333 7.33333H7.33333V3.33333C7.33333 3.15652 7.40357 2.98695 7.5286 2.86193C7.65362 2.7369 7.82319 2.66667 8 2.66667C8.17681 2.66667 8.34638 2.7369 8.47141 2.86193C8.59643 2.98695 8.66667 3.15652 8.66667 3.33333V7.33333H12.6667C12.8435 7.33333 13.013 7.40357 13.1381 7.5286C13.2631 7.65362 13.3333 7.82319 13.3333 8C13.3333 8.17681 13.2631 8.34638 13.1381 8.47141C13.013 8.59643 12.8435 8.66667 12.6667 8.66667Z' fill='%23343436'/%3E%3C/svg%3E");
  background-position: center right;
  background-size: 1rem;
  background-repeat: no-repeat;
  transition: all var(--transition-duration) var(--transition-timing) 0s;
  padding-right: 2.5rem;
}
details[open] summary {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M14.6667 0H1.33333C0.979711 0 0.640573 0.140476 0.390524 0.390524C0.140476 0.640573 0 0.979711 0 1.33333V14.6667C0 15.0203 0.140476 15.3594 0.390524 15.6095C0.640573 15.8595 0.979711 16 1.33333 16H14.6667C15.0203 16 15.3594 15.8595 15.6095 15.6095C15.8595 15.3594 16 15.0203 16 14.6667V1.33333C16 0.979711 15.8595 0.640573 15.6095 0.390524C15.3594 0.140476 15.0203 0 14.6667 0ZM12.6667 8.66667H8.66667V12.6667C8.66667 12.8435 8.59643 13.013 8.47141 13.1381C8.34638 13.2631 8.17681 13.3333 8 13.3333C7.82319 13.3333 7.65362 13.2631 7.5286 13.1381C7.40357 13.013 7.33333 12.8435 7.33333 12.6667V8.66667H3.33333C3.15652 8.66667 2.98695 8.59643 2.86193 8.47141C2.7369 8.34638 2.66667 8.17681 2.66667 8C2.66667 7.82319 2.7369 7.65362 2.86193 7.5286C2.98695 7.40357 3.15652 7.33333 3.33333 7.33333H7.33333V3.33333C7.33333 3.15652 7.40357 2.98695 7.5286 2.86193C7.65362 2.7369 7.82319 2.66667 8 2.66667C8.17681 2.66667 8.34638 2.7369 8.47141 2.86193C8.59643 2.98695 8.66667 3.15652 8.66667 3.33333V7.33333H12.6667C12.8435 7.33333 13.013 7.40357 13.1381 7.5286C13.2631 7.65362 13.3333 7.82319 13.3333 8C13.3333 8.17681 13.2631 8.34638 13.1381 8.47141C13.013 8.59643 12.8435 8.66667 12.6667 8.66667Z' fill='%23343436'/%3E%3Crect x='5' y='2.33' width='6' height='5' fill='%23343436'/%3E%3Crect x='5' y='8.67' width='6' height='5' fill='%23343436'/%3E%3C/svg%3E");
}
details > div {
  padding: 1rem 0 0;
}
details p:last-of-type {
  margin: 0;
}

spark-drawer {
  z-index: 100;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 35vw;
  background-color: white;
  transform: translateX(35vw);
  transition: 0.3s transform ease-in-out;
}
spark-drawer[data-is-open] {
  transform: translateX(0);
}

.c-tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  background: var(--black);
  color: var(--colour-white);
  transform: translate(-40%, -4px);
  width: 12.5rem;
  padding: 0.5rem 0.675rem;
}
.c-tooltip p {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
}
.c-tooltip p:last-of-type {
  margin: 0;
}

[aria-describedby]:has(.c-tooltip) {
  position: relative;
  cursor: default;
}
[aria-describedby]:has(.c-tooltip):hover .c-tooltip, [aria-describedby]:has(.c-tooltip):focus .c-tooltip {
  visibility: visible;
}

.c-lang-switcher {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.c-lang-switcher .switcher-toggle {
  position: relative;
  text-decoration: none;
  color: inherit;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
          appearance: none;
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--colour-tuna);
  border: 0;
  transition: all var(--transition-duration) var(--transition-timing) 0s;
}
.c-lang-switcher .switcher-toggle:focus {
  outline: none;
}
.c-lang-switcher .switcher-toggle:hover {
  text-decoration: none;
  outline: none;
}
.c-lang-switcher .switcher-toggle:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.c-lang-switcher .switcher-toggle img {
  display: block;
  width: 1rem;
  height: 0.75rem;
}
.c-lang-switcher .switcher-toggle:focus {
  outline: none;
}
.c-lang-switcher .switcher-dropdown {
  position: absolute;
  bottom: 150%;
  right: 0;
  z-index: 1000000;
  min-width: 8rem;
  padding: 0.5rem 0;
  transform: translateY(0.5rem);
  opacity: 0;
  visibility: hidden;
  border: 1px solid var(--colour-tuna);
  background-color: var(--colour-bg);
  transition: all var(--transition-duration) var(--transition-timing) 0s;
  width: -webkit-max-content;
  width: max-content;
  max-height: 10rem;
  overflow: scroll;
}
.c-lang-switcher .switcher-dropdown.is-visible {
  transform: none;
  opacity: 1;
  visibility: visible;
}
.c-lang-switcher .switcher-dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.c-lang-switcher .switcher-dropdown ul li {
  display: block;
}
.c-lang-switcher .switcher-dropdown ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
  color: var(--colour-tuna);
  white-space: nowrap;
  text-decoration: none;
  transition: all var(--transition-duration) var(--transition-timing) 0s;
}
.c-lang-switcher .switcher-dropdown ul li a img {
  display: block;
  width: 1rem;
  height: 0.75rem;
}
.c-lang-switcher.open-above .switcher-dropdown {
  top: unset;
  right: unset;
  bottom: 150%;
  transform: translateY(-0.5rem);
  left: 0;
}

/**
 * Swiper 11.2.4
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2025 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: February 14, 2025
 */
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}

:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d {
  perspective: 1200px;
}
.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

/* Slide styles start */
/* 3D Shadows */
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Slide styles end */
:root {
  --swiper-navigation-size: 44px;
  /*
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--swiper-theme-color);
  */
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev.swiper-button-hidden,
.swiper-button-next.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-navigation-disabled .swiper-button-prev,
.swiper-navigation-disabled .swiper-button-next {
  display: none !important;
}
.swiper-button-prev svg,
.swiper-button-next svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform-origin: center;
}
.swiper-rtl .swiper-button-prev svg,
.swiper-rtl .swiper-button-next svg {
  transform: rotate(180deg);
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}

.swiper-button-lock {
  display: none;
}

/* Navigation font start */
.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 10px);
  left: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

/* Navigation font end */
:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: rgba(0,0,0,0.25);
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
  */
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-disabled > .swiper-pagination, .swiper-pagination.swiper-pagination-disabled {
  display: none !important;
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
          appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

/* Fraction */
.swiper-pagination-fraction {
  color: var(--swiper-pagination-fraction-color, inherit);
}

/* Progress */
.swiper-pagination-progressbar {
  background: var(--swiper-pagination-progressbar-bg-color, rgba(0, 0, 0, 0.25));
  position: absolute;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}
.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}
.swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: var(--swiper-pagination-progressbar-size, 4px);
  left: 0;
  top: 0;
}
.swiper-vertical > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-vertical, .swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
  width: var(--swiper-pagination-progressbar-size, 4px);
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

:root {
  /*
  --swiper-scrollbar-border-radius: 10px;
  --swiper-scrollbar-top: auto;
  --swiper-scrollbar-bottom: 4px;
  --swiper-scrollbar-left: auto;
  --swiper-scrollbar-right: 4px;
  --swiper-scrollbar-sides-offset: 1%;
  --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(0, 0, 0, 0.5);
  --swiper-scrollbar-size: 4px;
  */
}

.swiper-scrollbar {
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  position: relative;
  touch-action: none;
  background: var(--swiper-scrollbar-bg-color, rgba(0, 0, 0, 0.1));
}
.swiper-scrollbar-disabled > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-disabled {
  display: none !important;
}
.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: var(--swiper-scrollbar-sides-offset, 1%);
  bottom: var(--swiper-scrollbar-bottom, 4px);
  top: var(--swiper-scrollbar-top, auto);
  z-index: 50;
  height: var(--swiper-scrollbar-size, 4px);
  width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}
.swiper-vertical > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-vertical {
  position: absolute;
  left: var(--swiper-scrollbar-left, auto);
  right: var(--swiper-scrollbar-right, 4px);
  top: var(--swiper-scrollbar-sides-offset, 1%);
  z-index: 50;
  width: var(--swiper-scrollbar-size, 4px);
  height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--swiper-scrollbar-drag-bg-color, rgba(0, 0, 0, 0.5));
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}
.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-fade .swiper-slide-active, .swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper {
  width: 100%;
}
.swiper.overflow-visible {
  overflow: visible;
}

.swiper-navigation {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.swiper-navigation button {
  position: relative;
  flex-shrink: 0;
  padding: 0;
  height: 2.5rem;
  width: 2.5rem;
  display: grid;
  place-content: center;
  background-color: var(--colour-gallery);
  border-radius: 100%;
  color: var(--colour-mine-shaft);
  border: none;
  margin-top: 0;
  top: unset;
  left: unset;
  right: unset;
}
.swiper-navigation button svg {
  height: 1.125rem;
  width: 1.125rem;
  fill: currentColor;
}
.swiper-navigation button::after {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

.u-space-above-xs {
  margin-top: 2rem;
}
.u-space-above-sm {
  margin-top: 2.5rem;
}
.u-space-above-md {
  margin-top: 3rem;
}
.u-space-above-lg {
  margin-top: 4.5rem;
}

.u-space-below-xs {
  margin-bottom: 2rem;
}
.u-space-below-sm {
  margin-bottom: 2.5rem;
}
.u-space-below-md {
  margin-bottom: 3rem;
}
.u-space-below-lg {
  margin-bottom: 4.5rem;
}

[class^=u-heading] {
  font-family: var(--font-family-heading);
  font-size: var(--fluid-type-size);
  font-weight: var(--font-weight, 400);
  letter-spacing: var(--fluid-letter-spacing);
  line-height: 1.3;
  margin-bottom: var(--fluid-type-margin);
  max-width: var(--fluid-type-max-width);
}
[class^=u-heading].centre {
  margin-inline: auto;
  text-align: center;
}
[class^=u-heading] em {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-style: italic;
}

.u-heading-xl {
  --fluid-type-size: clamp(3rem, 0.5vw + 2.9rem, 3.5rem);
  --fluid-type-max-width: 28ch;
  --fluid-type-margin: 0.75ch;
}

.u-heading-lg {
  --fluid-type-size: clamp(2.5rem, 0.5vw + 2.4rem, 3rem);
  --fluid-type-max-width: 36ch;
  --fluid-type-margin: 1ch;
}

.u-heading-md {
  --fluid-type-size: clamp(2rem, 0.5vw + 1.9rem, 2.5rem);
  --fluid-type-max-width: 38ch;
  --fluid-type-margin: 1ch;
}

.u-heading-sm {
  --fluid-type-size: clamp(1.5rem, 0.5vw + 1.4rem, 2rem);
  --fluid-type-max-width: 40ch;
  --fluid-type-margin: 1.5ch;
}

.u-heading-xs {
  --fluid-type-size: 1.25rem;
  --fluid-type-max-width: 44ch;
  --fluid-type-margin: 1.25ch;
}

.u-uppercase-sm,
.u-uppercase-md,
.u-uppercase-lg {
  line-height: normal;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  font-weight: 500;
}

.u-uppercase-sm {
  font-size: 0.75rem;
}

.u-uppercase-md {
  font-size: 0.875rem;
}
.u-uppercase-md.kicker {
  display: block;
  margin-bottom: 0.75rem;
}

.u-uppercase-lg {
  font-size: 1rem;
}

.u-text-md {
  font-size: var(--font-size-base);
}

.u-text-md,
.u-text-md p {
  font-size: 1rem;
  line-height: 1.5;
}

.u-text-lg,
.u-text-lg p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

p {
  max-width: 80ch;
  margin: 0 0 1.5rem;
  line-height: 1.75;
  font-weight: 400;
}
p.centre {
  margin-inline: auto;
  text-align: center;
}
p a {
  color: var(--colour-text-link);
}
p:empty {
  display: none;
}

small {
  font-size: 0.75rem;
}

strong {
  font-weight: 700;
}

#vw-root h2 {
  font-family: var(--font-family-heading);
  font-size: var(--fluid-type-size);
  font-weight: var(--font-weight, 400);
  letter-spacing: var(--fluid-letter-spacing);
  line-height: 1.3;
  margin-bottom: var(--fluid-type-margin);
  max-width: var(--fluid-type-max-width);
}

.sr-only:not(:focus):not(:focus-within) {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.stretched-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.no-js .js {
  display: none !important;
}

@media (min-width: 768px) {
  .c-table table {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  #wrapper .shopify-policy__container {
    margin-bottom: 5rem;
  }
  .c-social-links svg {
    height: 1.25rem;
  }
  .c-lang-switcher {
    margin-left: 1rem;
  }
  .c-lang-switcher .switcher-dropdown {
    bottom: unset;
    top: 150%;
  }
  .u-space-above-sm {
    margin-top: 4rem;
  }
  .u-space-above-md {
    margin-top: 5rem;
  }
  .u-space-above-lg {
    margin-top: 6.5rem;
  }
  .u-space-below-sm {
    margin-bottom: 4rem;
  }
  .u-space-below-md {
    margin-bottom: 5rem;
  }
  .u-space-below-lg {
    margin-bottom: 6.5rem;
  }
}

@media (max-width: 1023.98px) {
  .overflow-hidden-down-lg {
    overflow: hidden;
  }
}

@media (max-width: 767.98px) {
  .c-table {
    overflow-x: auto;
  }
}